.button {
    background-color: #F0386B;
    color: white;
    border: none;
    padding: .4em .7em;
    border-radius: .5rem;
    font-family: 'Roboto';
    font-weight: 100;
    font-size: 1.1rem;
    margin-right: 10px;
    box-shadow: 4px, 4px, 4px, 3px rgba(3, 3, 3, 0.7);
}